<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Contact's Name"
                    name="name" 
                    value="<%= businessContact.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Email</label>
                    <input type="email" class="form-control"
                    id="emailTextField"
                    placeholder="Enter the Contact's Email"
                    name="email" 
                    value="<%= businessContact.email %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="phoneNumberTextField">Phone Number</label>
                    <input type="text" class="form-control"
                    id="phoneNumberTextField"
                    placeholder="Enter the Contact's Phone Number"
                    name="phoneNumber" 
                    value="<%= businessContact.phoneNumber %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="noteTextArea">Note</label>
                    <textarea type="text" class="form-control"
                    id="noteTextArea"
                    placeholder="(Optional) Contact Note"
                    name="note" 
                    value="<%= businessContact.note %>">
                    </textarea>
                </div>

                <button class="btn btn-primary" type="submit">Update</button>
                <a href="/business-contact-list" class="btn btn-warning">Discard Changes</a>          
                <a href="/business-contact-list/delete/<%= businessContact._id %>" class="btn btn-danger">Delete</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>