<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<main class="container">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1 class="title text-center">Please Login</h1>
            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <input type="text" class="input1"
                    name="username" placeholder="Enter username"
                    id="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <input type="password" class="input1"
                    name="password" placeholder="Enter password"
                    id="password" required>
                    <div class="text-center">or <a href="/register">Register Here</a></div>
                </fieldset>

                <fieldset class="form-group text-center">
                    <input type="submit" class="form-btn" value="Login">
                    <a href="/">
                        <input type="button" class="form-btn btn-warning" value="Cancel">
                    </a>
                </fieldset>

            </form>
        </div>
    </div>

</main>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>